//Color
$white: #ffffff;
$black: #000000;
$black-lighter: #343e48;

//Social Icon Color
$facebook-color: #3B5A99;
$twitter-color: #29A9E1;
$googlePlus-color: #DF4B38;
$linkedIn-color: #117BB8;

//Brand Color
$brand-primary: #1b49a0;
$brand-success: #5cb85c;
$brand-info: #5bc0de;
$brand-warning: #ffc820;
$brand-danger: #d9534f;
$gray: #f8f9fa;
$gray-dark: #ddd;

//== Buttons
//
//## For each of Bootstrap's buttons Text color.
$btn-default-color: #343e48;
$btn-primary-color: #ffffff;
$btn-success-color: #343e48;
$btn-info-color: #343e48;
$btn-warning-color: #343e48;
$btn-danger-color: #ffffff;

//Link
$link-hover-decoration: none;

//Margin
$margin-0x: 0px;
$margin-x: .2em;
$margin-1x: 2%;
$margin-2x: 3%;
$margin-3x: 5%;

//== Padding
$padding-0x: 0px;
$padding-1x: 2%;
$padding-2x: 3%;
$padding-3x: 5%;

//== Fonts
$oxygen: 'Oxygen', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;